You are
<ng-container *ngFor="let permission of permissions">
    <input type="radio" [(ngModel)]="currentPermission" [value]="permission.name" (change)="onPermissionChange()" />
    {{permission.name}}
</ng-container>

<div class="container">
    <ng-template [ngxPermissionsOnly]="['GUEST']" [ngxPermissionsOnlyThen]="thenBlock"
        [ngxPermissionsOnlyElse]="elseBlock">
    </ng-template>
    <ng-template #thenBlock>
        <div>
            <p>You don't have any privileges!</p>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <div>
            <p>Congrats!</p>
        </div>
    </ng-template>
    <ng-template [ngxPermissionsExcept]="['GUEST']">
        <div>
            <p>You are privileged</p>
        </div>
    </ng-template>
    <div *ngxPermissionsOnly="['ADMIN', 'USER']">
        <div>
            <p>You have</p>
        </div>
    </div>
    <ng-template ngxPermissionsOnly="ADMIN">
        <div>
            <p>privileges to all routes</p>
        </div>
    </ng-template>
    <div *ngxPermissionsOnly="'USER'">
        <div>
            <p>privileges to route1, route2</p>
        </div>
    </div>
</div>