.container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    text-align: center;
    transform: translate(-50%, -50%);
    h1 {
        font-family: monospace;
        font-size: 100px;
        color: rgb(136, 99, 117);
    }
    button {
        border-radius: 5px;
        padding: 20px 50px;
        background-color: wheat;
    }
    button:hover{
        background-color: rgb(241, 206, 140);
        cursor: pointer;
    }
}

@media screen and (max-width: 500px) {
    .container h1 {
        font-size: 100px;
    }
}
